html {
  width: 100%;
  height: 100%;
}

body {
  padding: 20px;
  width: calc(100% - 40px);
  height: calc(100% - 40px);
  font-family: "Montserrat", sans-serif;
  background: #273a64;
}

#root {
  width: 100%;
  height: 100%;
  background: #FFFFFF;
  border-radius: 16px;
  padding: 20px;
  box-sizing: border-box;
}

.wrapper {
  width: 100%;
  height: 100%;
  position: relative;
}

.logo {
  position: absolute;
  right: 0;
  bottom: 0;
  svg {
    width: 150px;
    height: 60px;
  }
}
